@font-face {
    font-family:Apple;
    src: url(./sf-pro-display_regular.woff2);
}


*{
    font-family:Apple;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
}
#nav{
    height: 55px;
    width:100%;
    background-color: rgb(66, 59, 51);
    display: flex;
    align-items:center;
    justify-content:center;
    gap:50px;
}
#nav h4{
    color:white;
    text-transform: capitalize;
    font-weight: 400;
}
#center{
    height:100%;
    width: 100%;
    background-image: url(./iphone.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:50px;

}
#center h1{
    color:white;
    font-size: 70px;
    font-weight: 600;
    font-family:Apple;

}
#center h5{
    color: white;
    font-size: 35px;
    font-weight: 400;
}
#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
#bttn{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius:50px;
    border:none;
}
#btn{
    background-color: transparent;
    color: white;
    padding: 13px 20px;
    border-radius:50px;
    border:1.5px solid royalblue;
}